@import "./layout.css";

@font-face {
	font-family: "Press Start 2P";
	src: url("PressStart2P-Regular.woff2");
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

html {
	background-color: black;
	color: white;
}

body {
	display: flex;

	/* Layout */
	place-items: center;
	place-content: center;
}